.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea/
apps/observerweb/observerweb.iml
bower_components
public
elm-stuff
node_modules
rebar.lock
