{erl_opts, [debug_info]}.

{require_otp_vsn, "20.1"}.

{plugins, [rebar3_auto]}.

{ deps,
  [ {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "1.1.2"}}}
  , {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}}
  , {iso8601, {git, "https://github.com/kivra/erlang_iso8601", {tag, "1.2.0"}}}
  ]
}.

{relx, [{release, { observerweb, "0.1.1" },
         [observerweb,cowboy,jiffy,iso8601]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod,
				[{relx,
					[{dev_mode, false},
                     {include_erts, true}
                     ]
                 }]
            }]
}.
